body{
    background-image: url("background.avif");
    background-size: cover;
    background-position: center;
    height: 100vh;
  );
font-family:Fuzzy Bubbles;
}

h1{
    font-family:Cherry Cream Soda;
}

html {
  scroll-behavior: smooth;
}

.navbar-brand img {
  background-image: url("img/business-removebg-preview.png");
  background-size: cover;
  background-position: center;
  height: 70px;
  position: relative;
  background-color: white;
  background-blend-mode: darken;
}

img {
  height: 30em;
}

.navbar {
  padding-top: 0.1px;
  padding-bottom: 0.1px;
}

.hero {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

section {
    padding: 60px 0;
}

.carousel {
    max-width: 900px;
    margin: 0 auto;
}

    .album {
      display: flex;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    .card {
      background: white;
      width: 250px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

    .card img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

    .card-content {
      padding: 20px;
    }

    .info-section {
    margin-bottom: 50px;
}
