body{
    background-image: url("background.avif");
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family:Fuzzy Bubbles;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}


html {
  scroll-behavior: smooth;
}

.navbar-brand img {
  background-image: url("img/business-removebg-preview.png");
  background-size: cover;
  background-position: center;
  height: 70px;
  position: relative;
  background-color: white;
  background-blend-mode: darken;
}

img {
  height: 30em;
}

.hero {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-top: 35px;
    background-size: cover;
}



.carousel {
    max-width: 900px;
    margin: 0 auto;
}

.album {
      display: flex;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 20px;
    }

h1 {
    font-size: 40px;
    font-family:Cherry Cream Soda;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 16px;
}

.info-section {
    margin-bottom: 50px;
    margin-top: 40px;
}
}

section {
    padding: 20px;
}
